<b>ОТЧЁТ ПО ЛАГЕРЮ на {{ now.strftime("%H:%M %d.%m.%Y") }}</b>

Всего: <b>{{ total }}</b>

<b>В лагере</b>
{% for district, cnt in camp.items() %}<pre>{% if district %}{{ "%3d" | format(district) }}{% else %}Орг{% endif %}</pre> — {{ cnt }}
{% endfor %}
<b>В лазарете</b>
{% for district, cnt in infirmary.items() %}<pre>{% if district %}{{ "%3d" | format(district) }}{% else %}Орг{% endif %}</pre> — {{ cnt }}
{% endfor %}
<b>Уехали</b>
{% for district, cnt in left.items() %}<pre>{% if district %}{{ "%3d" | format(district) }}{% else %}Орг{% endif %}</pre> — {{ cnt }}
{% endfor %}
