<b>ОТЧЁТ ПО УЕХАВШИМ на {{ now.strftime("%H:%M %d.%m.%Y") }}</b>

{% for participant in participants %}<pre>{{ "%4d" | format(participant.id) }}</pre> {{ participant.role.emoji }} {{ participant.display_name }}
{% else %}❌ <b>Никто не покинул лагерь</b>
{% endfor %}
