🏕 <b>ШМБот»</b>
Учёт населения лагеря на «Школе Перед Школой» и «Школе Молодого Бауманца»

<i>Основные возможности:</i>
• 🔍 Поиск участников по ФИО, телефону, Telegram или VK
• 📋 Просмотр полной карточки участника
• 👥 Информация о командах и кураторах
• 📊 Просмотр статистики по лагерю

/start — вызов справки по командам бота
