📌 <b>Доступные команды</b>

/s или /search [запрос] — поиск участников по части ФИО, телефону, Telegram или VK
/g или /get [ID] — полная информация об участнике
/t или /team [номер] — состав и кураторы команды
/report — сгенерировать отчёт состояния лагеря по округам
/infirmary — сгенерировать отчёт по состоянию лазарета
/left — сгенерировать отчёт по покинувшим лагерь

<i>Пример</i>
/team 2 — получить информацию по 2 команде
/g 314 — показать карточку участника с ID 314
